:root {
	/* Text Properties: */
	font-family: Arial, Helvetica, sans-serif;
	--primary-color: black;
	--secondary-color: black;
	--greyed-out: grey;

	/* General Properties: */
	--bg: #f8f6ff;
	--negative: #ff9a9a;
	--positive: #aeff9a;

	/* Neuromorphic Properties: */
	--neuro-light: #fdfdfd3b;
	--neuro-dark: #0202028a;

	/* Nueromorphic Active Properties */
	--neuro1-bg: #ffffffce;
	--neuro1-light: #ffffffce;
	--neuro1-dark: #c9c7bd;

	/* Nueromorphic Hover Properties */
	--neuro2-bg: #ffffff;
	--neuro2-light: #ffffff;
	--neuro2-dark: #a5a5a5;

	/* Nueromorphic Element Types: */
	--card: 3px 3px 7px var(--neuro-dark), -4px -4px 7px var(--neuro-light),
		inset -2px -2px 4px var(--neuro-dark), inset 2px 2px 4px var(--neuro-light);
	--button: 5px 5px 7px var(--neuro-dark), -5px -5px 7px var(--neuro-light),
		inset -2px -2px 3px var(--neuro-dark), inset 2px 2px 3px var(--neuro-light);
	--button-hover: 2px 2px 5px var(--neuro-dark), -2px -2px 5px var(--neuro-light),
		inset -2px -2px 3px var(--neuro-dark), inset 2px 2px 3px var(--neuro-light);
	--button-highlight: 2px 2px 3px var(--neuro1-dark), -2px -2px 3px var(--neuro1-light),
		inset -2px -2px 3px var(--neuro1-dark), inset 2px 2px 3px var(--neuro1-light);
	--divot: inset 1px 1px 4px #cccccc81, inset -1px -1px 10rem #ffffff70;
	--input: inset 5px 5px 10px var(--neuro-dark), inset -5px -5px 10px var(--neuro-light),
		-2px -2px 5px var(--neuro-dark), 2px 2px 5px var(--neuro-light);
}

button {
	/* Removing all the default outlines: */
	border: 0;
	outline: 0;

	/* Adding some padding around button text: */
	padding: 0.5rem 1rem 0.5rem 1rem;

	/* Keeping Next door buttons seperate: */
	margin: 0rem 0.5rem;

	/* Button Nueromorphism */
	color: var(--primary-color);
	border-radius: 10px;
	background: var(--bg);
	box-shadow: var(--button);
	/* Animations: */
	transition: all 0.2s ease;
}
button:hover {
	box-shadow: var(--button-hover);
}
button:active,
button:focus {
	background: var(--neuro1-bg);
	box-shadow: var(--button-highlight);
}

fieldset {
	/* Removing the fieldset borders */
	border: 0;
}

label {
	/* We want label for accessibility reasons, but we want to hide it for aesthetics: */
	display: block;
	font-size: 0.8rem;
	margin-left:10px;
	color: var(--greyed-out);
}

input {
	/* Removing all the default outlines: */
	border: none;
	outline: none;

	/* Positioning: */
	padding: 0.5rem 2rem 0.5rem 1rem;
	margin-bottom: 1rem;

	/* Text: */
	color: rgba(65, 65, 65, 0.719);

	/* Making the input fields nueromorphic: */
	background: var(--bg);
	border-radius: 25px;
	box-shadow: var(--input);

	/* Animations: */
	transition: all 0.2s ease;
}
input:focus {
	/* Making selection very clear: */
	background: var(--neuro1-bg);
	box-shadow: inset 5px 5px 10px var(--neuro1-dark), inset -5px -5px 10px var(--neuro1-light),
		-2px -2px 5px var(--neuro1-dark), 2px 2px 5px var(--neuro1-light);
}

.testing {
	background: rgba(0, 128, 0, 0);
	padding: 1rem;
	border: 4px solid rgb(248, 233, 20);
	overflow: auto;
	resize: both;
}
